@model AirQualityWebApp.Models.AirQualityViewModel

@{
    ViewData["Title"] = "Measurements";
}

<h4>Measurements</h4>

<div class="blueBoldText">
    City : @Model.CityName
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.CountryCode)
    <table class="table table-hover table-striped dt-responsive" id="airQualityDatatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Parameter :")
                </th>
                <th>
                    @Html.DisplayName("Unit :")
                </th>
                <th>
                    @Html.DisplayName("Value :")
                </th>
                <th>
                    @Html.DisplayName("Last Updated :")
                </th>
                <th> @Html.DisplayName("Location :")</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Measurements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parameter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Back to Countries List", "Countries", null, null,new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to Cities List", "Cities", new { countryCode = Model.CountryCode },new { @class = "btn yellowButton" })

    </div>

    @section Scripts{
    <script>
        $(document).ready(function () {
            $('#airQualityDatatable').DataTable();
        });
    </script>
}
}